/* RGB */
$color1: rgba(40, 2, 0, 1);
$color2: rgba(241, 143, 1, 1);
$color3: rgba(184, 12, 9, 1);
$color4: rgba(241, 143, 1, 1);
$color5: rgba(40, 2, 0, 1);

$primary:       $color2;
$secondary:     $color1;
$warning:       $color4;
$danger:        $color3;
$dark:          $color5;


$fa-font-path:         "../fonts";
