{% extends "_layouts/main.twig" %}

{# Set Meta #}
{% set title = 'News Page' %}

{% block content %}

	<h1 class="text-6xl t-full">{{ entry.title }}</h1>

	<p class="font-sans">Lorem ipsum dolor sit amet consectetur adipiscing elit vestibulum sapien convallis duis gravida malesuada aenean euismod ornare accumsan habitasse orci</p>

{% endblock %}