{% extends "_layouts/main.twig" %}

{# Set Meta #}
{% set title = entry.title %}
{% set description = entry.metaDescription %}

{% block header %}
 	<h1 class="text-6xl t-full">{{ entry.title }}</h1>
{% endblock %}

{% block content %}
	<p class="font-sans">{{ entry.body_content }}</p>
{% endblock %}